<app-header></app-header>

<div class="container-fluid" style="text-align: center; background-image: url(assets/bg.jpg);height: 550px;background-size: cover;">
 
<h1 class="h1" style="text-align: center;">Angular Form</h1>
<br> 


<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  
  <input type="text" class="txt" style="width: 300px;" name="First Name" placeholder="First Name" ngModel>
  <br><br>
  <input type="text" class="txt" style="width: 300px;" name="last Name" placeholder="Last Name" ngModel>
  <br><br>
<input type="text" class="txt" style="width: 300px;" name="email" placeholder="Email" ngModel>
<br><br>
<input type="password" class="txt" style="width: 300px;" name="password" placeholder="Password" ngModel>
<br><br>
<input type="text" class="txt" style="width: 300px;" name="Contact No." placeholder="Contact No." ngModel>
<br><br>

<button type="submit" class="txt" style="width: 150px;">Login</button>
<br>
</form>


</div>



<app-footer></app-footer>